<mat-toolbar color="warn">
    <span>
      <a routerLink="/">Opiniones</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a routerLink = "/create">Nueva Opinion</a>
      </li>
    </ul>
  <span class="example-spacer"></span>

  <span>
    <a routerLink="/all">Hoteles</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a routerLink = "/createH">Agregar Hotel</a>
    </li>
  </ul>
<span class="example-spacer"></span>

<span>
  <a routerLink="/allRsv">Reservaciones</a>
</span>

<span class="spacer"></span>
  <ul>
    <li>
      <a routerLink = "/createR">Agregar Reservación</a>
    </li>
  </ul>
<span class="example-spacer"></span>

  <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon aria-label="Favorite icon" fontIcon="account_circle"></mat-icon>
  </button>
  <button mat-icon-button class="share-icon" aria-label="Example icon-button with heart icon">
    <mat-icon aria-label="Share icon" fontIcon="share"></mat-icon>
  </button>
</mat-toolbar>
<mat-card>
  <img src="./assets/Hotel_header.jpg">
  <header>
    <h1>Reservas de Hotel</h1>
  </header>
</mat-card>



