<footer class = "footer bg-inverse text-center">
  <div xlass="wave" style="height: 110px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 105%; width: 100%;">
      <path d="M202.48,25.16 C131.94,135.69 239.73,39.96 499.89,44.90 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: rgb(0, 70, 131);"></path>
    </svg></div>
  <div class = "container">
    <p class="text-white">
      &copy; Luis Sevillano y Alan Cabrera
    </p>
  </div>
</footer>
